/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 

/*https://github.com/red-pill-blog/Active/blob/master/images/bigfavicon.png?raw=true*/


/*Add logo next to site title */
.site-title::before {
    content: url("images\favicon.ico");
    display: inline-block;
    position: relative;
    margin-bottom: 0;
    margin-right: 15px;
    margin-top: 17px;
}

header.site-header {
    border-top: 8px solid #424242;
    min-height: 90px;
    border-bottom: 2px solid #7a7a7a;
    line-height: unset;
}

/*Change Title Font Color and Size*/
.site-title, .site-title:visited {
    color: #f10000;
    font-size: 350%;
    line-height: unset;
    border: none;
}

/* Specify image size and location*/
img[src*="#rpimage"]{
    width: 650px;
    display: block;
    margin: auto;
}

.page-link, .page-link:visited {
    font-weight: normal;
    font-size: 105%
}

/* Adjust Size of h1 */
h1.post-title, h1#posts   { font-size: 250%;
}

.page-link, .page-link:visited {
    font-size: 120%;
}

.post-meta {
    font-size: 95%;
}

/* Change size of post content */
.post-content p, .post-content li {
    font-size: 105%;
    color: #515151;
 }



/*header.site-header, div.wrapper {min-height: 150px;
                                 line-height: 125px; 
                                 vertical-align: bottom;
}
*/

/* Add header background */
/*.site-header {background-image: no-repeat url("/images/rp500x117.png");
    display: flex
    height: 130px;
    align-items: center;
}*/

/* --- Uncomment to remove border for header --- */
/*.site-header {border: none;}*/

/* --- Uncomment to remove footer --- */
/* .site-footer {display: none;} */
